.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #5e5e78;
  padding: 20px 10px;
  margin-top: 40px;
  @include device(smartphone) {
    flex-direction: column;
  }
  p {
    color: #fff;
    font-size: 20px;
    font-family: "Work Sans", sans-serif;
    @include device(smartphone) {
      font-size: 1em;
      margin-top: 10px;
    }
  }
}