@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Ubuntu&family=Work+Sans:wght@300;600;700&display=swap");
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;

  
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #0e091b;
}

::-webkit-scrollbar-thumb {
  background-color: $color-primary;
  border-radius: 8px;
}
body {
  background: #353543;
  height: 100%;
}

img {
  max-width: 100%;
  display: block;
}
.container {
  max-width: $desktop;
  margin: 0 auto;
  @include device(tablet) {
    max-width: $tablet;
  }
  @include device(smartphone) {
    max-width: $smartphone;
    padding: 0 8px;
  }
}

.secao-titulo {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  @include type-font(48);
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  &::after {
    content: "";
    display: block;
    width: 160px;
    height: 3px;
    margin: 10px auto 10px auto;
    background: $color-primary;
  }
}
.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  padding: 20px 0;
  
  @include type-font(18);
  @include device(smartphone) {
    padding-right: 8px;
    padding-left: 8px;
  }
  .menu {
    #btn-mobile {
      display: none;
      div {
        width: 32px;
        height: 3px;
        background-color: #fafafa;
        margin: 8px;
        transition: 0.4s;
      }
      @include device(smartphone) {
        display: block;
        cursor: pointer;
      }
    }

    .menu-lista {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      li a {
        display: block;
        color: #d1d1db;
      }
      @include device(smartphone) {
        display: none;
        position: absolute;
        width: 100%;
        top: 83px;
        right: 0;
        background: #282833;
        z-index: 1000;
        padding-bottom: 20px;
      }
    }

    li:first-child a {
      font-weight: 700;
      color: #ebebeb;
    }
  }

  #btn-mobile.active .line-1 {
    transform: rotate(-45deg) translate(-10px, 8px);
  }
  #btn-mobile.active .line-2 {
    opacity: 0;
  }
  #btn-mobile.active .line-3 {
    transform: rotate(45deg) translate(-7px, -5px);
  }

  .contatos {
    display: flex;
    flex-wrap: wrap;

    gap: 30px;
    .circle {
      display: flex;
      background: #48485b;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      img {
        width: 24px;
        height: 24px;
      }
    }
    @include device(smartphone) {
      display: none;
    }
  }
}

@include device(smartphone) {
  .menu .menu-lista.active {
    display: block;
    animation: show-down 0.5s forwards;
  }
  .menu-lista li a {
    padding: 1rem 0;
    text-align: center;
    margin-top: 20px;
    @include type-font(24);
  }

  .menu-lista li:first-child {
    margin-top: 40px;
  }
}

@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.introducao {
  display: grid;
  grid-template-areas: "apresentacao foto-principal";
  grid-template-columns: 1fr 1.5fr;
  padding-bottom: 60px;
  @include device(smartphone) {
    grid-template-areas:
      "apresentacao"
      "foto-principal";
    grid-template-columns: 1fr;
  }
  .apresentacao {
    grid-area: apresentacao;
    h2 {
      @include type-font(36);
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      color: #9b9bb1;
      padding-top: 80px;
      @include device(desktop) {
        @include type-font(48);
      }

      @include device(smartphone) {
        padding-top: 22px;
      }
    }

    h1 {
      font-family: "Montserrat", sans-serif;
      @include type-font(48);
      font-weight: 700;
      color: #fff;
      padding: 20px 0 24px 0;
      &::after {
        content: "";
        display: block;
        width: 200px;
        border: 2px solid $color-primary;
        margin-top: 10px;
      }
      @include device($desktop) {
        @include type-font(72);
      }
    }

    p.descricao {
      @include type-font(18);
      color: #d1d1db;
      font-family: "Work Sans", sans-serif;
      font-weight: 400;
      padding-bottom: 55px;
      @include device(tablet) {
        font-size: 16px;
      }
    }
    .btn-download {
      border: 1px solid $color-primary;
      border-radius: 100px;
      padding: 20px 32px;
      color: $color-primary;
      font-family: "Ubuntu", sans-serif;
      @include device(tablet) {
        padding: 10px 16px;
      }
      @include type-font(18);
      i {
        display: inline-block;
        height: 15px;
        width: 24px;
        padding-right: 15px;
      }
      &:hover{
        border:1px solid $color-terciary;
        color: $color-terciary;
        transition: all 1.5s ease-out;
      }
    }
    
  }
  .foto-principal {
    display: flex;
    grid-area: foto-principal;
    padding-top: 40px;
    justify-content: flex-end;

    img {
      @include device(tablet) {
        width: 400px;
        height: 400px;
        padding-top: 30px;
      }
    }
  }
}

.skills-bg {
  background: #282833;

  .skills {
    padding: 60px 0;

    .cards-skills {
      padding-top: 60px;
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
      justify-content: center;
      .card {
        width: 330px;
        height: 330px;
        padding: 30px 20px;
        background: #3f3f50;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 4px;
        h3 {
          font-family: Montserrat;
          font-weight: 600;
          color: #ebebeb;
          @include type-font(24);
          padding: 20px 0 12px 0;
          text-transform: uppercase;
        }

        p {
          font-family: "Work Sans", sans-serif;
          @include type-font(18);
          color: #d1d1db;
        }

        .circle {
          background: #353543;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  .card-tecnologias {
    padding-top: 40px;
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
    @include device(tablet) {
      display: grid;
      grid-template-columns: 100px 100px 100px;
      gap: 30px;
      justify-items: center;
    }
    .card-tec {
      background: #3f3f50;
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: 4px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      
    }
  }
}

.projetos {
  padding: 60px 0;
  .cards-projetos {
    padding-top: 60px;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    @include device($desktop) {
      gap: 140px;
    }
    .card-proj {
      display: flex;
      flex-direction: column;
      border-radius: 8px;
      padding: 30px 45px;
      width: 500px;
      height: 482px;
      background: #282833;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      @include device(smartphone) {
        width: 349px;
        height: 425px;
      }

      h3 {
        font-family: "Montserrat", sans-serif;
        @include type-font(28);
        font-weight: 600;
        color: #ebebeb;
        text-align: start;
        padding: 20px 0;
        text-transform: uppercase;
      }
      p {
        font-family: "Work Sans", sans-serif;
        @include type-font(18);
        color: #d1d1db;
        padding-bottom: 20px;
        height: 110px;
       
      }
      .btns {
        display: flex;
        gap: 25px;
        

        .btn {
          padding: 10px 40px;
          border-radius: 4px;
          font-weight: 600;
          font-family: "Work sans", sans-serif;
          text-transform: uppercase;
          @include device(smartphone) {
            padding: 10px 20px;
          }
        }
        .demo {
          background: $color-primary;
          border: 1px solid $color-primary;
          color: #0e091b;
          &:hover{
            background: none;
            color: #fff;
            border: 1px solid $color-primary;
            transition: all .5s ease-out;
          }
        }
        .git {
          border: 1px solid $color-primary;
          color: #fff;
          &:hover{
            color: #0e091b;
            background: $color-primary;
            
            transition: all 1s ease-out;
          }
        }
      }
    }
  }
}

.contatos-bg {
  background: #282833;
  padding-top: 60px;
  .cards-contato {
    display: flex;
    justify-content: center;
    padding: 60px 0;
    gap: 40px;
    flex-wrap: wrap;
    @include device(tablet) {
      display: grid;
      grid-template-columns: 220px 220px;
    }
    .card-cont {
      border-bottom: 3px solid $color-primary;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: #3f3f50;
      padding: 30px;
      font-family: "Work Sans", sans-serif;
      width: 220px;
      height: 166px;
      border-radius: 4px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      img {
        width: 32px;
        height: 32px;
      }
      h3 {
        color: #ebebeb;
        padding: 12px 0;
        font-weight: 600;
        text-transform: uppercase;
      }
      p {
        font-size: 0.875em;
        color: #d1d1db;
      }
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #5e5e78;
  padding: 20px 10px;
  margin-top: 40px;
  @include device(smartphone) {
    flex-direction: column;
  }
  p {
    color: #fff;
    font-size: 20px;
    font-family: "Work Sans", sans-serif;
    @include device(smartphone) {
      font-size: 1em;
      margin-top: 10px;
    }
  }
}


